body {
  background-color: #161a38;
}

h1 {

  color: #f1e1b3;
 text-align: center;
  
}
h2 {
  color: #f1e1b3;
  text-align: center;
}
h3 {
  color: #caae0b;
  text-align: center;
}
ol {
  text-align: center;
  list-style: square inside url("sqpurple.gif");
}
li {
  list-style: square inside url("sqpurple.gif");
  text-align: center;
}

footer {
  color: #f1e1b3;
  text-align: center;
}



